.facts__container {
  margin: 0 auto;
  padding: 58px 10px 0 10px;
}

.facts__list {
  .ls-reset();
}

.facts__item {
  margin-bottom: 42px;
}

.facts__item-title {
  margin: 0 0 34px 0;

  font-size: 24px;
  line-height: 24px;
  color: #a4c58c;
  font-weight: 600;

  box-shadow: 0 10px 0 3px; #a4c58c
}

.facts__item-text {
  margin: 0;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
