.page-header {
  width: auto;
  margin: 0 auto;
  min-height: 480px;

  color: #ffffff;

  background-color: #91aa59;
}

.page-header__top {
  padding: 15px 15px 0 15px;
}

.page-header__btn {
  background-color: transparent;
  border: none;
}

.page-header__tel {
  display: none;
}

.page-header__title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
}

.page-header__link {
  color: #ffffff;
}
