.symptoms__container {
  position: relative;

  padding-bottom: 20px;
  background-color: #f6f9f3;
}

.symptoms__title {
  width: 300px;
  padding: 0 10px;
  margin: 0 auto 26px auto;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #303030;
  text-align: center;
}

.symptoms__first-list,
.symptoms__second-list {
  .ls-reset();

  background-color: #f6f9f3;
}

.symptoms__first-list {
  padding: 0 10px;

  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.symptoms__second-list {
  padding: 0 10px;

  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.symptoms__item {
  position: relative;

  display: flex;
  padding: 27px 10px 27px 0;

  border-bottom: 1px solid #e6efde;
}

.symptoms__second-list .symptoms__item:nth-child(4) {
  border-bottom: none;
}

.symptoms__item span {
  margin-right: 18px;

  font-size: 12px;
  line-height: 20px;
  color: #a4c58c;
  font-weight: 600;
}

.symptoms__link-container {
  display: block;
  padding: 19px 10px;

  text-align: center;
  color: #ffffff;
  font-size: 12px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: #7eb252;
}

@media (min-width: @tablet-width) {
  .symptoms__container {
    padding-bottom: 0;
  }

  .symptoms__title {
    width: 360px;

    font-size: 30px;
    line-height: 40px;
  }

  .symptoms__first-list,
  .symptoms__second-list {
    padding-left: 80px;
  }

  .symptoms__first-list {
    font-size: 14px;
    line-height: 20px;
  }


  .symptoms__second-list {
    display: flex;
    flex-wrap: wrap;

    font-size: 16px;
    line-height: 20px;
  }

  .symptoms__second-list .symptoms__item {
    width: 50%;
  }

  .symptoms__second-list .symptoms__item:nth-child(3) {
    border-bottom: none;
  }

  .symptoms__second-list .symptoms__item:nth-child(odd) {
    border-right: 1px solid #e6efde;
  }

  .symptoms__second-list .symptoms__item:nth-child(even) {
    padding-left: 40px;
  }

  .symptoms__link-container {
    position: relative;

    width: 416px;
    margin: 0 auto;

    &::before {
      content: "";

      position: absolute;
      top: 41%;
      right: 15%;

      width: 32px;
      height: 8px;

      background-image: url("../../img/arrow.png");
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: @desktop-width) {
  .symptoms__title {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
  }

  .symptoms__title-container {
    width: 430px;
    padding-left: 80px;

    text-align: left;
  }

  .symptoms__lists {
    position: relative;

    width: 1200px;
    margin: 0 auto;
  }

  .symptoms__first-list,
  .symptoms__second-list {
    width: 670px;
  }

  .symptoms__link {
    display: flex;
    justify-content: flex-end;
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
  }

  .symptoms__link-container {
    margin: 0;
  }
}
